.color-box {
  width: 35px;
  height: 18px;
  margin: auto;
 }

td {
  vertical-align: middle !important;
}
.custom-tabs li a:hover {
  color: #fff !important;
  background-color: #495057 !important;
}