<div class="commodity-popup-container">
  <!-- Header -->
  <div class="commodity-header">
    <h3 class="header-title">{{ isEditMode ? 'Update Commodity' : 'Add Commodity' }}</h3>
  </div>

  <!-- Body Form -->
  <div class="commodity-body">
    <form [formGroup]="form" (ngSubmit)="save()">
      <!-- Commodity Name -->
      <div class="form-row">
        <label class="field-label">Commodity Name :<span class="required-star">*</span></label>
        <div class="field-control">
          <input type="text" class="custom-input" formControlName="name" placeholder="Enter Commodity Name"
            autocomplete="off">
        </div>
      </div>

      <!-- Commodity Code -->
      <div class="form-row">
        <label class="field-label">Commodity Code :<span class="required-star">*</span></label>
        <div class="field-control">
          <input type="text" class="custom-input" formControlName="code" placeholder="Enter Commodity Code"
            (input)="onCodeInput($event)" maxlength="5" autocomplete="off">
        </div>
      </div>
    </form>
  </div>

  <!-- Actions -->
  <div class="commodity-footer">
    <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()" style="cursor: pointer;">
      <mat-icon class="icon-cancel">cancel</mat-icon>
      <span>Close</span>
    </button>
    <button mat-raised-button type="button" class="btn-save" [disabled]="!form.valid" (click)="save()">
      <mat-icon>save</mat-icon>
      <span>{{ isEditMode ? 'Update' : 'Save' }}</span>
    </button>
  </div>
</div>